*, *:before, *:after
    box-sizing: border-box
hrml
    font-size: 14px    
body
    font-family: 'Futura Book', sans-serif
    font-size: 1rem
img
    max-width: 100%
.gay
    max-width: 31.57rem
.section
    &--dark
        background-color: $dark
        color: $light
    &-title 
        text-align: center
        &--left
            text-align: left
        &__heading  
            text-transform: uppercase
            font-family: 'Yeseva One', cursive
            line-height: 138%
            &--primary
                color: $primary
        &__word
            display: flex
            align-items: center
            &::after
                content: ''
                width: 90px
                height: 2px
                background-color: $primary
                margin-left: 2rem
        &__text1
            font-size: 1.28rem
            line-height: 2.07rem
            width: 100%  
            max-width: 31.57rem
        &__text2
            font-family: 'Futura Book', sans-serif
            text-transform: none
            font-size: 1.43rem
        &__image
            display: flex
            justify-content: center
            align-items: center
            &:before
                content: ''
                width: 32px
                height: 2px
                background-color: $primary
                margin-right: 10px
            &:after
                content: ''
                width: 32px
                height: 2px
                background-color: $primary
                margin-left: 10px